.khan__quote {
  display: block;
  max-width: 790px;
  margin-bottom: 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote::before {
  content: none;
}

.khan__quote::after {
  content: none;
}
